- var scripts  = []
- var examples = ['constants', 'example.module', 'example-templates', 'routes']
- var bowers   = []

- scripts.push('ng-projects.module')
- scripts.push('templates')
- scripts.push('directives/ng-projects.directive')
- scripts.push('directives/claimed-projects.directive')
- scripts.push('directives/open-projects.directive')
- scripts.push('directives/estimate-project.directive')
- scripts.push('directives/project-details.directive')
- scripts.push('directives/submission-card.directive')

- scripts.push('controllers/ng-projects.controller')
- scripts.push('controllers/open-projects.controller')
- scripts.push('controllers/claimed-projects.controller')
- scripts.push('controllers/estimate-project.controller')
- scripts.push('controllers/project-details.controller')
- scripts.push('controllers/submission-card.controller')

- bowers.push('zepto/zepto')
- bowers.push('angular/angular')
- bowers.push('angular-resource/angular-resource')
- bowers.push('angular-ui-router/release/angular-ui-router')
- bowers.push('appirio-tech-ng-ui-components/dist/main')
- bowers.push('appirio-tech-ng-api-services/dist/main')
- bowers.push('angular-scroll/angular-scroll')
- bowers.push('moment/moment')


= "\n"
// build:js lib.js
= "\n"
each path in bowers
  script(src="bower_components/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js main.js
= "\n"
each path in scripts
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

// build:js example.js
= "\n"
each path in examples
  script(src="scripts/#{path}.js", type="text/javascript")
  = "\n"
// endbuild
= "\n"
