ul#example-nav
  li
    a(ui-sref="projects") Projects

  li
    a(ui-sref="open-projects") Open Projects

  li
    a(ui-sref="claimed-projects") Claimed Projects

  li
    a(ui-sref="estimate-project") Estimate Project
