.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-approved.svg")

  h6 Quote Approved

footer.flex.column.end
  p Awaiting start of the project

  p You'll be notified when the project starts.