main.solid.flex.column.middle.center
  img.icon.biggest(src="/images/project-approved.svg")

  label quote approved

footer
  p Waiting for project launch

  p.secondary You'll be notified when the project starts