main.solid.flex.column.middle.center
  img.icon.biggest(src="/images/project-approved.svg")

  label quote approved

footer
  p Awaiting launch

  p.secondary You’ll be notified once the project is launched