.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-approved.svg")

  h6 Quote Approved

  p Waiting for project launch

footer.flex.column.middle
  p You'll be notified when the project starts