.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-submitted.svg")

  h6(ng-if="project.activeWorkStep.name == 'Design Concepts' ||  project.activeWorkStep.name == 'Final Designs'") Awaiting {{project.activeWorkStep.name}} submissions

  h6(ng-if="project.activeWorkStep.name == 'Final Fixes'") Awaiting final deliverables

footer.flex.column.end
  p {{project.activeWorkStep.name}} work is in progress

  p(ng-if="project.activeWorkStep.name == 'Design Concepts' ||  project.activeWorkStep.name == 'Final Designs'") Receive submissions in several days

  p(ng-if="project.activeWorkStep.name == 'Final Fixes'") Receive final deliverables in several days