.flex.column.middle.center.flex-grow
  .house
    .icon.big.checkmark-white

  h6 Project complete!

footer.flex.column.end
  footer.flex.bottom.center
    a.button.action(ui-sref="timeline({ workId: project.id })") deploy my app