.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/quote-generated.svg")

  h6 Quote Generated

footer.flex.bottom.center
  a.button.action(ui-sref="timeline({ workId: project.id })") view quote