.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/icon-download.svg")

  h6 Final design fixes

  p (WIP need design from product)

  p.secondary {{vm.end}} left to review

footer.flex.column.end.middle
  a.button.action(ui-sref="timeline({ workId: project.id })") review fixes