.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-incomplete.svg")

  h6 Project setup incomplete

footer.flex.bottom.center
  a.button.action(ui-sref="submit-work({ id: project.id })") continue setup