.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-launched.svg")

  h6 Project launched

footer.flex.column.end
  p Design work is in progress

  p Get design submissions in several days.