ul.flex-grow.flex.column
  li.winner.flex.middle(ng-repeat= "winner in project.activeWorkStep.winners")
      avatar

      p.name.flex-grow {{ winner.handle }}

      .rank {{ winner.rank }}

footer.flex.column.middle
  p {{ project.activeWorkStep.nextPhase.name }} phase next