.flex.column.middle.center.flex-grow
  ul.flex-grow.flex.column.space-between
    li.winner.flex.middle.center(ng-repeat= "winner in project.activeWorkStep.winners")
        avatar

        p.name {{winner.handle}}

        .rank {{winner.rank}}

footer.flex.column.end.middle
  p.secondary {{project.activeWorkStep.nextPhase.name}} phase next