main
  ul.flex.column
    li.winner.flex.middle(ng-repeat= "winner in project.activeWorkStep.winners")
        avatar.icon.big(avatar-url="{{winner.avatar}}")

        p.name.flex-grow {{ winner.handle }}

        .rank
          .value {{ winner.rank }}

          .unit place

footer.flex-grow.flex.column.end
  p {{ project.activeWorkStep.nextPhase.name }} phase next