.flex.column.middle.center.flex-grow
  ul.flex-grow.flex.column.space-between
    li.winner.flex.middle.center(ng-repeat= "i in [0, 1, 2]")
        avatar

        p.name Karen Campbell a really really really long name

        .rank 1st

footer.flex.column.end.middle
  p.secondary Final design phase next