.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-submitted.svg")

  h6 Project submitted

footer.flex.column.end
  p You are waiting for project approval

  p This should take about 1 day