main.solid.flex.column.middle.center
  img.icon.biggest(src="/images/project-submitted.svg")

  label project submitted

footer.flex-grow.flex.column.end
  p You are waiting for project approval

  p.secondary This should take about 1 day