.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/project-submitted.svg")

  h6 Project submitted

  p You are waiting for project approval

footer.flex.column.middle
  p This should take about 1 day