main.flex.column.middle.center.flex-grow
  .house
    avatar.icon.biggest

  p.name {{project.activeWorkStep.winners[0].handle}}

  p.winner-text winner!

footer.flex-grow.flex.column.end
  p {{project.activeWorkStep.nextPhase.name}} phase next