main.flex.column.middle.center.flex-grow
  .house
    avatar.icon.biggest(avatar-url="{{project.activeWorkStep.winners[0].avatar}}")

  p.name {{project.activeWorkStep.winners[0].handle}}

  p.winner-text winner chosen

footer.flex-grow.flex.column.end
  p You have {{project.activeWorkStep.nextPhase.startsAt | timeLapse:project.activeWorkStep.nextPhase.startsAt:true }} to ask for final changes