.flex.column.middle.center.flex-grow
  .house
    avatar

  p.name {{project.activeWorkStep.winners[0].handle}}

  h5 Winner!

footer.flex.column.end.middle
  p.secondary {{project.activeWorkStep.nextPhase.name}} phase next