@import "work-includes";

estimate-project {
  display         : block;
  background-color: $neutral-color-lightest;
  padding         : $padding;

  button {
    margin-top: $margin;
  }

  .success-message {
    h3 {
      padding: 0;
      margin-left: $margin-smallest;
    }

    .estimates {
      max-width: 300px;
      margin-top: $margin-small;

      p {
        font-weight: $font-weight-bold;
      }
    }
  }

  hr {
    margin: $margin-small 0 0 0;
  }

  .cost-estimate {
    max-width: 600px;
  }

  form {
    .cost, .duration {
      margin-top: $margin-small;

      .fields {
        margin-top: $margin-small;

        p {
          margin-top: 0;
        }

        input {
          width: 100px;
        }

        > * {
          margin-left: $margin-small;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}