@import "work-includes";

ng-projects, open-projects, claimed-projects {
  h6 {
    margin-top: $margin-small;
  }

  .no-projects {
    text-align: center;

    p {
      font-size: $font-size-big;
    }

    .button {
      margin-top: $margin-small;
    }
  }

  hr {
    margin: $margin-small 0 0 0;
    width: 100%;
  }

  .content-end {
    @include align-content(flex-end);
  }

  main {
    height          : 210px;
    margin-top      : $margin-small;
    text-align      : center;
    overflow        : auto;
    background-color: $primary-color-light;

    footer {
      background-color: $white;
      text-align      : center;
      width           : 100%;
      height          : 50px;

      p:last-child {
        color: $neutral-color;
      }
    }
  }

  > ul {
    margin: 0 auto;

    > li {
      $card-width: 280px;

      width           : $card-width;
      margin          : $margin-smallest;
      background-color: $white;
      padding         : $padding $padding-small;

      > header {
        @include clearfix;

        .project-name {
          float: left;
          width: $card-width - ($padding-small * 2) - 35px; /* .message-notification width */

          a {
            display: block;
          }

          * {
            @include ellipsis;
          }
        }

        .message-notification {
          position: relative;
          float   : right;
          width   : 35px;

          .notification {
            font-size: $font-size-smallest;
          }
        }
      }
    }
  }
}
