@import "work-includes";

ng-projects, open-projects, claimed-projects {
  h6 {
    margin-top: $margin-small;
  }

  h5 {
    font-weight: $font-weight-bold;
  }

  .no-projects {
    text-align : center;
    font-size  : 18px;
    font-weight: $font-weight;
    color      : $neutral-color-dark;
  }

  hr {
    margin: $margin-small 0 0 0;
    width: 100%;
  }

  .content-end {
    @include align-content(flex-end);
  }

  > ul {
    margin: 0 auto;
  }
}
