@import "work-includes";

ng-projects, open-projects, claimed-projects {
  h5 {
    @include ellipsis;
  }

  h6 {
    margin-top: $margin-small;
  }

  .no-projects {
    text-align: center;

    p {
      font-size: $font-size-big;
    }

    .button {
      margin-top: $margin-small;
    }
  }

  hr {
    margin: $margin-small 0 0 0;
    width: 100%;
  }

  .content-end {
    @include align-content(flex-end);
  }

  main {
    height          : 200px;
    margin-top      : $margin-small;
    text-align      : center;
    overflow        : auto;
    background-color: $primary-color-light;

    footer {
      background-color: $white;
      text-align      : center;
      width           : 100%;
      height          : 50px;

      p:last-child {
        color: $neutral-color;
      }
    }
  }

  > ul {
    margin: 0 auto;

    > li {
      width           : 280px;
      margin          : $margin-smallest;
      background-color: $white;
      padding         : $padding $padding-small;

      > header {
        > a {
          display: block;
        }
      }
    }
  }
}
