@import "work-includes";

ng-projects {
  display: block;

  .incomplete, .complete {
    background-color: $danger-color;

    h6 {
      color: $white;
    }
  }

  .complete {
    background-color: $success-color;
  }

  .assigned {
    avatar {
      margin-top: $margin-small;
    }
  }

  avatar {
    margin: 0 auto;
  }
}
