@import "work-includes";

ng-projects {
  .no-projects {
    text-align: center;

    p {
      font-size: $font-size-big;
    }

    .button {
      margin-top: $margin-small;
    }
  }

  .incomplete, .complete {
    background-color: $danger-color;

    button {
      background-color: transparent;
      border-color: $white;
      color: $white;
    }

    h6 {
      color: $white;
    }
  }

  .complete {
    background-color: $success-color;
  }

  .submitted, .launched {
    background-color: $neutral-color-lightest;
  }

  .approved {
    avatar {
      margin-top: $margin-small;
    }

    .name {
      @include ellipsis;

      font-weight: bold;
    }
  }

  h5 {
    height: $font-size * 2;
    overflow: auto;
  }

  h6 {
    font-size: $font-size-small;
    font-weight: bold;
  }

  button, .button {
    margin-top: $margin-small;
  }

  main {
    height    : 200px;
    margin-top: $margin-small;
    text-align: center;
    overflow  : auto;

    avatar {
      margin: 0 auto;
    }

    hr {
      margin: 0;
    }

    footer {
      background-color: $white;
      text-align: center;
      width: 100%;
      padding-top: $margin;

      p:last-child {
        color: $neutral-color;
      }
    }
  }

  > ul {
    margin: 0 auto;

    > li {
      width           : 280px;
      margin          : $margin-smallest;
      background-color: $white;
      padding         : $padding $padding-small;
    }
  }
}