@import "work-includes";

project-details {
  display: block;
  overflow: hidden;

  estimate-project {
    margin-bottom: $margin;
  }

  .nav {
    width: 200px;
    margin-top: $margin-smallest;

    button {
      width: 100%;
      text-align: left;
    }

    ul {
      border-right: 2px solid $neutral-color-lightest;

      li {
        margin-top: $margin;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .requirements {
    margin-left: $margin;

    hr {
      margin-top: $margin-small;
      background-color: $neutral-color-lightest;
    }

    > li {
      margin-top: $margin-big;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  h4 {
    margin-bottom: $margin-small;
    margin-top: $margin;
  }

  .platform {
    max-width: 400px;

    ul > li {
      margin-top: $margin-small;
    }
  }

  span {
    margin-left: $margin-smallest;
  }

  .project-type {
    img {
      height: 68px;
    }

    p {
      margin-left: $margin-small;
      text-transform: uppercase;
    }
  }

  .big-a {
    background-color: $primary-color;
    color: $white;
    display: inline-block;
    padding: $padding-small;
    font-size: $font-size-biggest;
  }

  .features-descriptions {
    li {
      &:last-child {
        hr {
          display: none;
        }
      }
    }
  }
}