@import "work-includes";

project-details {
  display: block;
  overflow: hidden;

  estimate-project {

    max-height: 0px;
    overflow  : hidden;
    padding   : 0;

    &.active {
      max-height   : 300px;
      margin-bottom: $margin;
      padding      : $padding;
    }
  }

  .confirm {
    background-color: $primary-color;
    color           : $white;
    max-height      : 0px;
    overflow        : hidden;

    h5 {
      margin-left: $margin-smallest;
    }

    .loader-house {
      position: relative;

      .loader {
        width: 30px;
        height: 30px;
      }
    }

    &.active {
      max-height: 100px;
      margin-bottom: $margin;
    }

    > * {
      margin: $margin-small;
    }
  }

  .nav {
    width: 200px;
    margin-top: $margin-smallest;

    .claim, .launch {
      margin-bottom: $margin;
    }

    ul {
      border-right: 2px solid $neutral-color-lightest;

      button {
        text-align    : left;
        text-transform: uppercase;
        font-weight   : $font-weight;
      }

      li {
        margin-top: $margin;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
