h5 Features

hr.biggest

h4(ng-if="vm.project.files.features.length") Uploaded features documents

ul.features-files
  li(ng-repeat="file in vm.project.files.features")
    a(ng-if="file.downloadUrl" href="{{file.downloadUrl}}") {{file.filename}}

h4 Features &amp; descriptions

ul.features-descriptions
  li(ng-repeat="feature in vm.project.features")
    p {{ feature.title }}

    p {{ feature.description }}

    hr
