loader(ng-show="vm.loading")

ul.flex.wrap
  li.elevated-bottom(ng-repeat= "project in vm.projects track by $index" fitted-width=true)
    header
      a(ui-sref="copilot-project-details({ id: project.id })")
        h5 {{ project.name || 'Unnamed Project' }}

      p.type {{ vm.typeMap[project.projectType] }} - {{project.createdAt | date:'MM/dd/yyyy'}}

    main.flex.column.middle.center(ng-if="project.status == 'Assigned'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-claimed.svg")

        h6 Project Claimed

      footer.flex.bottom.center
        a.action.button(ui-sref="copilot-project-details({ id: project.id })") estimate

    main.flex.column.middle.center(ng-if="project.status == 'Estimate'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/quote-generated.svg")

        h6 Projected Estimated

      footer.flex.bottom.center
        p Client is reviewing estimate.

    main.flex.column.middle.center(ng-if="project.status == 'Approved'")
      .flex.column.middle.center.flex-grow

        img.icon.big(src="/images/project-approved.svg")

        h6 Project Approved

      footer.flex.bottom.center
        a.action.button(ui-sref="copilot-project-details({ id: project.id })") create challenges

    main.flex.column.middle.center(ng-if="project.status == 'Launched'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-launched.svg")

        h6 Project launched

      footer.flex.bottom.center
        p Relax, have a beer.

    main.complete.flex.column.middle.center(ng-if="project.status == 'Complete'")
      img.icon.big(src="/images/features.svg")

      h6 Project complete

.no-projects(ng-hide="vm.loading || vm.projects.length > 0")
  p You have not claimed any projects yet.


