main(ng-hide="vm.costEstimate")
  h5 Create Project Estimates

  hr.biggest

  .description
    p.secondary Enter a range for your proposed cost and duration for this project.

  estimate-form(ng-if="vm.projectType" estimate-type="DESIGN" project-id="{{vm.projectId}}" loading="vm.loading" cost-estimate="vm.costEstimate" can-update="vm.canUpdate")

  estimate-form(ng-if="vm.projectType == 'DESIGN_AND_CODE'" estimate-type="CODE" project-id="{{vm.projectId}}" loading="vm.loading" cost-estimate="vm.costEstimate" can-update="vm.canUpdate")

.success-message(ng-show="vm.costEstimate")
  h5 Project Estimates

  hr.biggest

  .estimates.flex.space-between
    .costs
      h6 Costs

      p ${{ vm.costEstimate.price.min }} - ${{ vm.costEstimate.price.max }}

    .duration
      h6 Duration

      p {{ vm.costEstimate.duration.min }} - {{ vm.costEstimate.duration.max }} {{ vm.costEstimate.duration.unit }}s

loader(ng-show="vm.loading")
