main(ng-hide="vm.costEstimate")
  h5 Create Project Estimates

  hr.biggest

  estimate-form(type="design")

  estimate-form(type="code" ng-if="vm.projectType == 'DESIGN_AND_CODE' ")

.success-message(ng-show="vm.costEstimate")
  h5 Project Estimates

  hr.biggest

  .estimates.flex.space-between
    .costs
      h6 Costs

      p ${{ vm.costEstimate.price.min }} - ${{ vm.costEstimate.price.max }}

    .duration
      h6 Duration

      p {{ vm.costEstimate.duration.min }} - {{ vm.costEstimate.duration.max }} {{ vm.costEstimate.duration.unit }}s

loader(ng-show="vm.loading")
