form(ng-submit="vm.submit()")
  .cost-estimate.flex.space-between.center.middle.wrap(ng-if="!estimates[vm.estimateType]")
    .cost
      label {{vm.estimateType}} Cost

      .fields.flex.middle
        input(ng-model="vm.payload.estimateMin" type="number" placeholder="$" required="true" min="0" ng-disabled="!vm.canUpdate")

        p to

        input(ng-model="vm.payload.estimateMax" type="number" placeholder="$" required="true" min="0" ng-disabled="!vm.canUpdate")

    .duration
      label {{vm.estimateType}} Duration

      .fields.flex.middle
        input(ng-model="vm.payload.durationMin" type="number" placeholder="$" required="true" min="0" ng-disabled="!vm.canUpdate")

        p to

        input(ng-model="vm.payload.durationMax" type="number" placeholder="$" required="true" min="0" ng-disabled="!vm.canUpdate")

        p weeks

    button.action(ng-disabled="!vm.canUpdate || vm.loading") save {{vm.projectType}} estimates