loader(ng-show="vm.loading")

main(ng-hide="vm.hasAllEstimates()")
  h5 Create Project Estimates

  hr.biggest

  .description
    p.secondary Enter a range for your proposed cost and duration for this project.

  estimate-form(ng-if="vm.projectType" estimate-type="DESIGN" project-id="{{vm.projectId}}" loading="vm.loading" estimates="vm.estimates" can-update="vm.canUpdate")

  estimate-form(ng-if="vm.projectType == 'DESIGN_AND_CODE'" estimate-type="CODE" project-id="{{vm.projectId}}" loading="vm.loading" estimates="vm.estimates" can-update="vm.canUpdate")


.success-message(ng-show="vm.estimates.DESIGN || vm.estimates.CODE" ng-class="{incomplete: !vm.hasAllEstimates()}")
  h5 Project Estimates

  hr.biggest

  estimate-detail(ng-if="vm.estimates.DESIGN" estimates="vm.estimates.DESIGN")

  estimate-detail(ng-if="vm.estimates.CODE" estimates="vm.estimates.CODE")

