loader(ng-show="vm.loading")

ul.flex.wrap
  li.elevated-bottom(ng-repeat= "project in vm.projects track by $index" fitted-width=true)
    header
      a(ui-sref="timeline({ workId: project.id })")
        h5 {{ project.name || 'Unnamed Project' }}

      p.type {{ vm.typeMap[project.projectType] }} - {{ project.status }}

    main.incomplete.flex.column.middle.center(ng-if="project.status == 'Incomplete'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-incomplete.svg")

        h6 Project setup incomplete

      footer
        a.button.action(ui-sref="submit-work({ id: project.id })") continue setup

    main.submitted.flex.column(ng-if="project.status == 'Submitted'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-submitted.svg")

        h6 Project submitted

      footer
        p You are waiting for project approval

        p This should take about 1 day

    main.assigned.flex.column(ng-if="project.status == 'Assigned'")
      .flex.column.middle.center.flex-grow
        h6 Meet your co-pilot

        avatar.icon.big(ng-src="{{project.copilot.avatar}}")

        p {{ project.copilot.handle || 'n/a' }}

      footer
        a.button.action(ui-sref="messaging({ id: project.id, threadId: 'threadfor-' + project.id })") send a message

    main.estimated.flex.column(ng-if="project.status == 'Estimate'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/quote-generated.svg")

        h6 Quote Generated

      footer
        a.button.action(ui-sref="timeline({ workId: project.id })") view quote

    main.approved.flex.column(ng-if="project.status == 'Approved'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-approved.svg")

        h6 Project Approved

      footer
        p Blah blah blah blah

        p Blah blah blah blah

    main.launched.flex.column(ng-if="project.status == 'Launched'")
      .flex.column.middle.center.flex-grow
        img.icon.big(src="/images/project-launched.svg")

        h6 Project launched

      footer
        p Design work is in progress

        p Get design submissions in several days.

    main.complete.flex.column.middle.center(ng-if="project.status == 'Complete'")
      .icon.big.warning

      h6 Project complete!

      button deploy my app

.no-projects(ng-hide="vm.loading || vm.projects.length > 0")
  p You have not started any projects.


