ul.flex.center.wrap
  li(ng-repeat= "project in vm.projects track by $index")
    header
      a(ui-sref="timeline({ workId: project.id })")
        h5 {{ project.name || 'Unnamed Project' }}

      p.type {{ vm.typeMap[project.projectType] }} - {{ project.status }}

    main.incomplete.flex.column.middle.center(ng-if="project.status == 'Incomplete'")
      .icon.biggest.warning

      h6 Project submission incomplete

      button continue setup

    main.submitted.flex.column(ng-if="project.status == 'Submitted'")
      .flex.column.middle.center.flex-grow
        .icon.biggest.warning

        h6 Project submitted

      footer
        p You are waiting for project approval

        p This should take about 1 day

    main.approved(ng-if="project.status == 'Estimate'")
      hr

      h6 Project approved

      avatar.icon.biggest

      p.name Copilot name missing from API blah blah blah

      p.secondary Co-Pilot

      a.button.action(ui-sref="timeline({ workId: project.id })") view quote

    main.launched.flex.column(ng-if="project.status == 'Launched'")
      .flex.column.middle.center.flex-grow
        .icon.biggest.warning

        h6 Project launched

      footer
        p Design work is in progress

        p Get design submissions in several days.

    main.complete.flex.column.middle.center(ng-if="project.status == 'Complete'")
      .icon.biggest.warning

      h6 Project complete!

      button deploy my app

.no-projects(ng-if="vm.projects.length == 0")
  p You have not started any projects.

  a.button.action.wider(ui-sref="submit-work") start a new project


