.flex.column.middle.center.flex-grow
  img.icon.big(src="/images/icon-download.svg")

  h6(ng-if="vm.phase == 'DESIGN'") Design submissions received

  h6(ng-if="vm.phase != 'DESIGN'") Final design submissions received

  p {{ vm.end }} left to choose winners

footer.flex.bottom.center
  a.button.action(ui-sref="timeline({ workId: project.id })") choose winners