@import "work-includes";

#project-details-features {
  .features-descriptions {
    li {
      border-top: 1px solid $neutral-color-light;
      padding: 30px 0;

      &:first-child {
        border-top: none;
      }
    }
  }

  .title {
    font-size: 18px;
  }

  .description {
    margin-top: 5px;
  }
}
