@import "work-includes";

#project-details-setup {
  .project-type {
    img {
      height: 68px;
    }

    p {
      margin-left: $margin-small;
      text-transform: uppercase;
    }
  }

  .platform {
    max-width: 400px;

    ul > li {
      margin-top: $margin-small;
    }
  }

  .plus {
    width: 24px;
    height: 24px;
  }

  label {
    font-weight: $font-weight;
    margin-left: 10px;
    font-size  : $font-size-big;
  }
}
